@model Nop.Plugin.Widgets.NivoSlider.Models.PublicInfoModel
@{
    Layout = "";

    Html.AddScriptParts("~/Plugins/Widgets.NivoSlider/Scripts/jquery.nivo.slider.js");
    Html.AddCssFileParts("~/Plugins/Widgets.NivoSlider/Content/nivoslider/nivo-slider.css");
    Html.AddCssFileParts("~/Plugins/Widgets.NivoSlider/Content/nivoslider/themes/custom/custom.css");
  
}
@using Nop.Web.Framework.UI

@helper RenderSliderLine(string pictureUrl, string text, string link, string dataTransition = "")
{
if (!string.IsNullOrEmpty(pictureUrl))
{
    if (!string.IsNullOrEmpty(link))
    {
            <a href="@link">
                <img src="@pictureUrl" data-thumb="@pictureUrl" data-transition="@dataTransition" alt="" title="@text" />
            </a>
    }
    else
    {
            <img src="@pictureUrl" style="width:100%;height:300px;" data-thumb="@pictureUrl" data-transition="sliceUpDownLeft" alt="" title="@text" />
    }
}
}
<div class="slider-wrapper theme-custom">
    <div id="nivo-slider" class="nivoSlider">
        @RenderSliderLine(Model.Picture1Url, Model.Text1, Model.Link1, "sliceUpDownLeft")
        @RenderSliderLine(Model.Picture2Url, Model.Text2, Model.Link2, "sliceUpDownLeft")
        @RenderSliderLine(Model.Picture3Url, Model.Text3, Model.Link3, "sliceUpDownLeft")
        @RenderSliderLine(Model.Picture4Url, Model.Text4, Model.Link4, "sliceUpDownLeft")
        @RenderSliderLine(Model.Picture5Url, Model.Text5, Model.Link5, "sliceUpDownLeft")
        @RenderSliderLine(Model.Picture6Url, Model.Text6, Model.Link6, "sliceUpDownLeft")

    </div>
</div>
<script type="text/javascript">
    $(window).load(function () {
        $('#nivo-slider').nivoSlider({
            effect: 'sliceUpDownLeft',
            slices: 1,
            animSpeed: 500,
            directionNav: true,
            randomStart: false,
            controlNav: false,
            prevText: 'Prev',
            nextText: 'Next',
        });
    });
</script>
